@import './configs.scss';

.container-aula-picker{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-left: 16px;
    margin-top: 16px;
    padding-bottom: 16px;
    border-bottom: 0.5px solid $greyColor4;

    .action{
        display: flex;
        align-items: center;
        cursor: pointer;

        img, span{
            margin-right: 8px;
            font-family: $fontBold;
        }
        .modulo-span{
            font-size: 16px;
            flex: 1;
        }
    }

    .container-aula{
        padding-left: 2.3rem;
        
        .aula{
            display: flex;
            justify-content: space-between;

            span{
                margin-right: 8px;
            }
        }
    }
}